@* Report5: Reporte trimestral*@

@{
    ViewData["Title"] = "Reportes";
}

<style>
    body {
        font-family: Arial;
    }
</style>
<html>
<body>
    <br />
    <div class="row">
        <div class="col-lg-9">
            <h4>Reporte trimestral</h4>
        </div>
        <div class="col-lg-3">
            <div class="form-group" style="padding-top:.25em;">
                <a id="asp_XLS" href="#">
                    <img src="~/images/icn_EXCEL(30x30).png" style="margin-top:1px; margin-left:0px; max-width:80%;width:auto;height:auto;" />
                </a>
                <a id="asp_PDF" href="#">
                    <img src="~/images/icn_PDF(30x30).png" style="margin-top:1px; margin-left:20px; max-width:80%;width:auto;height:auto;" />
                </a>
                <!-- Trigger the modal with a button -->
                <span class="boton btn-editar" style="font-size:.9em; float:right;" data-toggle="modal" data-target="#myModal" id="filtro">
                    <span class="glyphicon glyphicon-filter">  </span>  Opciones de filtrado
                </span>
            </div>
        </div>
        <input id="data1" type="text" hidden />
        <input id="data2" type="text" hidden />
    </div>

    <hr style="border-color:darkblue; margin-bottom:0px; padding-bottom:1em; margin-top:0px; padding-top:0em;" />

    <div class="row" style="margin-bottom:0px; padding-bottom:0em; margin-top:0.5px; padding-top:0em;">
        <label class="col-sm-4" for="institucion" id="Title_Institucion">Institución usuaria: Todas</label>
        <label class="col-sm-4" for="unidad_administrativa" id="Title_UA">Unidad Administrativa usuaria: Todas</label>
        <label class="col-sm-4" for="unidad_administrativa_2" id="Title_UA2">Unidad Administrativa fuente: Todas</label>
    </div>
    <hr style="border-color:darkblue; margin-bottom:0px; padding-bottom:1em; margin-top:0px; padding-top:0em;" />

    <label id="error" hidden>@ViewBag.Error</label>

    <div id="ventanaError" align="center" hidden>
        <img src="~/images/error2.png" />
        <br />
        <label style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #241178;">Lo sentimos, por el momento no podemos mostrar el reporte, póngase en contacto con el administrador en el correo</label> <a href="mailto:soporte.ptie@inegi.org.mx">soporte.ptie@inegi.org.mx</a>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Selección de filtros del reporte:</h4>
                </div>
                <br />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form action="/action_page.php">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="1institucion1">Institución usuaria:</label>
                                            <select class="form-control" id="1cbxInst_Ext_Int1">
                                                <option value="0">Todas</option>
                                                <option value="1">INEGI</option>
                                                <option value="2">Externas</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="1unidad_administrativa">Unidad Administrativa usuaria:</label>
                                            <select class="form-control" id="1cbxUnidad_Admva" disabled>
                                                <option value="0">Todas</option>
                                                @foreach (var ua in @ViewBag.UAs)
                                                {
                                                    <option value="@ua.id_unidad_administrativa">@ua.descripcion</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br />
                    <form id="checks">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="uas">Unidad Administrativa fuente:</label>
                                <div class="panel panel-default" style="margin-bottom:0px; padding-bottom:.5em; margin-top:0px; padding-top:.5em; padding-left:1em;">
                                    @foreach (var uaf in @ViewBag.Direcciones)
                                    {
                                        <label class="checkbox-inline"><input type="checkbox" id="@uaf.id_direccion" value="@uaf.descripcion" checked>@uaf.descripcion</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="boton btn-editar" style="font-size:.9em" id="aplicarFiltro" data-dismiss="modal" onclick="aplicaFiltros();">Aplicar</span>
                </div>
            </div>
        </div>
    </div>

    <div id="DataContent">

    </div>
</body>
</html>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var error = $("#error").html();
            if (error === "True") {
                ocultaBotones();
                $("#DataContent").hide();
                $("#ventanaError").show();
            }
            else {
                obtenSeleccion();    // es necesario llamar esta función para que se cargen los valores de las fechas que se mandarían en caso de que mande guardar en XLS o PDF
                cargaDatos();
            }

            function ocultaBotones() {
                $("#filtro").hide();
                $("#asp_XLS").hide();
                $("#asp_PDF").hide();
            }

            function download(url, filename) {
                fetch(url).then(function (t) {
                    return t.blob().then((b) => {
                        var a = document.createElement("a");
                        a.href = URL.createObjectURL(b);
                        a.setAttribute("download", filename);
                        a.click();
                    }
                    );
                });
            }

            function cargaDatos() {
                cortina();
                $.get('@Url.Action("Datos", "Reporte5")', { Institucion: "Todas", UA: "Todas", UAF: "Todas"}, function (response) {     // al entrar, de esta manera la primera vez se manda traer todos los datos
                    $("#DataContent").html(response.dataT);
                    $("#data1").val(response.data1);
                    $("#data2").val(response.data2);
                    if ($("#DataContent").html().indexOf("Lo sentimos, por el momento") > 0) {
                        ocultaBotones();
                    }
                    Swal.close();
                });
            }

            function cortinaError() {
                Swal.fire(
                    'Reportes',
                    'Error al descargar el archivo, inténtelo nuevamente',
                    'error'
                ).then((result) => { });
            }

            function generaArchivo(xTipo) {
                var x_url;
                if (xTipo == "XLS") {
                    x_url = '@Url.Action("Reporte5_XLS", "Reporte5")';   // XLS
                }
                else {
                    x_url = '@Url.Action("Reporte5_PDF", "Reporte5")';   // PDF
                }
                cortina();
                var data1 = JSON.parse($("#data1").val());
                var xjson1 = JSON.stringify(data1);
                var data2 = JSON.parse($("#data2").val());
                var xjson2 = JSON.stringify(data2);
                $.ajax({
                    type: 'POST',
                    url: x_url,
                    data: { json1: xjson1, json2: xjson2, i1: Inst, ua: UA, uaf: UnAdsF },
                    datatype: "text",
                    success: function (response) {
                        Swal.close();
                        if (response.error === true) {
                            cortinaError();
                        }
                        else {
                            download('/temp' + '/' + response.dataT.nombre, response.dataT.nombre);
                        }
                    }
                });
            }

            $("#asp_XLS").click
                (
                    function () {
                        generaArchivo("XLS");
                    }
            );

            $("#asp_PDF").click
                (
                    function () {
                        generaArchivo("PDF");
                    }
            );

            $("#cbxFecha_inicio").change
                (
                    function () {
                        adecuaComboFechaFin();
                    }
            );
        });

        var Inst = "Todas";
        var UA = "Todas";
        var UAsF = "12";
        var UnAdsF = "Todas";

        function ordenaUAsF() {
            x1 = "";
            x2 = "";
            t1 = "";
            t2 = "";
            if (UAsF.indexOf("1") >= 0) {
                x1 = "1";
                t1 = "DGEE, ";
            }
            if (UAsF.indexOf("2") >= 0) {
                x2 = "2";
                t2 = "DGES, ";
            }
            UAsF = x1 + x2;
            if (UAsF == "12") {
                UnAdsF = "Todas";
            }
            else {
                if (UAsF == "") {
                    UnAdsF = "(ninguna)";
                }
                else {
                    UnAdsF = t1 + t2;
                    UnAdsF = UnAdsF.substr(0, UnAdsF.length - 2);
                }
            }
        }

        function agregaUAf(xUA) {
            if (xUA == "DGEE") {
                if (UAsF.indexOf("1") == -1) {
                    UAsF = "1" + UAsF;
                }
            }
            if (xUA == "DGES") {
                if (UAsF.indexOf("2") == -1) {
                    UAsF = "2" + UAsF;
                }
            }
        }

        function quitaUAf(xUA) {
            if (xUA == "DGEE") {
                UAsF = UAsF.replace("1", "");
            }
            if (xUA == "DGES") {
                UAsF = UAsF.replace("2", "");
            }
        }


        function ponTitulos() {
            $("#Title_Institucion").text("Institución usuaria: " + Inst);
            if (Inst == "INEGI") {
                $("#Title_UA").text("Unidad Administrativa usuaria: " + UA);
            }
            else {
                $("#Title_UA").text("Unidad Administrativa usuaria: Todas");
            }
            $("#Title_UA2").text("Unidad Administrativa fuente: " + UnAdsF);
        }

        function obtenSeleccion() {
            // Institución
            Inst = $("#1cbxInst_Ext_Int1 option:selected").text();

            // Unidad Administrativa
            UA = $("#1cbxUnidad_Admva option:selected").text();

            // Unidad Administrativa fuente
            $('#checks input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    agregaUAf($(this).val());
                }
                else {
                    quitaUAf($(this).val());
                }
            });
            ordenaUAsF();
        }

        function determinaHabilitarEdoUA() {
            obtenSeleccion();
            if ((Inst == "Todas") || (Inst == "Externas")) {
                $("#1cbxUnidad_Admva").attr('disabled', 'disabled');
                document.getElementById("1cbxUnidad_Admva").value = "0";
            }
            else {
                $("#1cbxUnidad_Admva").removeAttr('disabled');
            }
        }

        $("#1cbxInst_Ext_Int1").click
        (
            function () {
                determinaHabilitarEdoUA();
            }
        );

        function cortina() {
            Swal.fire({
                allowEscapeKey: false,
                allowEnterKey: false,
                allowOutsideClick: false,
                scrollbarPadding: false,
                showConfirmButton: false,
                imageUrl: "../../../images/cargando.gif",
                title: 'Por favor espere ...'
            })
        }

        function aplicaFiltros() {
            obtenSeleccion();
            ponTitulos();
            cortina();
            var request = $.get('@Url.Action("Datos", "Reporte5")', { Institucion: Inst, UA: UA, UAF: UnAdsF }, function (response) {     // aquí ya no se manda traer todo, solo lo que el usuario eligió
                $("#DataContent").html(response.dataT);
                $("#data1").val(response.data1);
                $("#data2").val(response.data2);
                if ($("#DataContent").html().indexOf("Lo sentimos, por el momento") > 0) {
                    ocultaBotones();
                }
                Swal.close();
            });
            request.error(function (httpObj, textStatus) {
                if (httpObj.status == 401) {
                    swal.close();
                    window.location.href = '@Url.Action("Index","Login")';
                }
            });
        }
    </script>
}
