@model IEnumerable<Menu.Models.ReporteCambioUA>
<form>

    <div class="panel-body">
        <table class="table" style="border-color:darkblue; margin-bottom:0px; padding-bottom:0em; margin-top:0px; padding-top:0em;">
            <thead>
                <tr>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Correo de responsable</th>
                    <th scope="col">Nombre de responsable</th>
                    <th scope="col">Último acceso</th>
                    <th scope="col">UA registrada</th>
                    <th scope="col">UA actual</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="renglon " style="font-stretch: condensed;">
                    <td>@Html.DisplayFor(modelItem => item.cuenta)</td>
                    <td>@Html.DisplayFor(modelItem => item.correo)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.ultimo_acceso)</td>
                    <td>@Html.DisplayFor(modelItem => item.ua_bd)</td>
                    <td>@Html.DisplayFor(modelItem => item.ua_act)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>

